parameters:
    paths:
        - app/
    excludePaths:
        - app/console
    level: 8
    ignoreErrors:
        - identifier: missingType.generics
        - '#Cannot call method notifications\(\) on Illuminate[a-zA-Z\\_]+#'
        - '#Access to an undefined property App\\Models[a-zA-Z\\]#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:find\(\)#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:create\(\)#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:update\(\)#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:updateOrCreate\(\)#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:firstOrCreate\(\)#'
        - '#Call to an undefined static method App\\Models\\[a-zA-Z]+\:\:active\(\)#'
        - '#Parameter \#1 \$message of class App\\Models\\Errors[a-zA-Z\\]+ constructor expects string, array\|string\|null given#'
        - '#Parameter \#1 \$message of class App\\Exceptions\\[a-zA-Z\\]+ constructor expects string, array\|string\|null given\.#'
        - '#Parameter \#2 \$key of method Illuminate\\Http\\RedirectResponse\:\:[a-zA-Z\\\(\)]+ expects string, array\|string\|null given#'
        - '#Property App\\Exceptions\\[a-zA-Z\d\\]+\:\:\$code has no type specified\.#'
        - '#Access to an undefined property App\\Http\\Requests\\[a-zA-Z\\\:\$]+#'
        - '#Cannot call method update\(\) on Illuminate\\Contracts\\Auth\\Authenticatable\|null#'
        - '#Access to an undefined property Illuminate\\Notifications\\DatabaseNotification\:\:\$[a-zA-Z\d]+#'
