.profile-page{

  .main{
    display: flex;

    .photo{
      width: fit-content;
      max-width: 400px;
      margin-right: 10px;
      position: relative;
      overflow: hidden;

      .card-body{
        position: relative;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 0;
        padding: 16px;
        padding-top: 0;
        padding-bottom: 0;

        .btn{
          width: 100%;
        }

        button[type="submit"]{
          margin-top: 10px;
          display: none;
        }

        .error{
          margin: 5px 0;
        }

        &.active{
          height: auto;
          padding: 16px;

          button[type="submit"]{
            display: block;
          }
        }
      }

      form.update-avatar{
        display: flex;
        flex-direction: column;
      }

      img{
        z-index: 2;
        min-height: 100px;
        min-width: 100px;
        max-width: 100%;
        max-height: 400px;
      }

      &:hover{

        .card-body:not(.active){
          height: auto;
          padding: 16px;
        }
      }
    }
  }

}