.profile-page {

  .main {

    .photo {
      position: relative;
      overflow: hidden;
      max-height: max-content;

      .card-body {
        position: relative;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 0;
        padding: 16px;
        padding-top: 0;
        padding-bottom: 0;

        .btn {
          width: 100%;
        }

        button[type="submit"] {
          margin-top: 10px;
          display: none;
        }

        .error {
          margin: 5px 0;
        }

        &.active {
          height: auto;
          padding: 16px;

          button[type="submit"] {
            display: block;
          }
        }
      }

      form.update-avatar {
        display: flex;
        flex-direction: column;
      }

      img {
        z-index: 2;
        min-height: 100px;
        min-width: 100px;
        max-width: 100%;
        max-height: 400px;

        @media (max-width:992px) {
          max-height: 250px;
        }
        @media (max-width: 768px) {
          max-height: 350px;
        }
      }

      &:hover {

        .card-body:not(.active) {
          height: auto;
          padding: 16px;
        }
      }
    }

    .tab-pane{
      .content-padding{
        padding: 10px;
      }
      .questions-table{
        overflow: auto;

        table img {
            max-width: 200px;
        }
      }

      .user-tags{
        &-items{
          max-height: 300px;
          overflow: auto;
        }
        button {
          margin-top: 10px;
        }
      }
    }
  }
}