.questions-page {

  .item {

    .card-body {
      padding: 12px 16px;
    }

    .alert {
      overflow: hidden;
    }

    .date {
      display: flex;

      p {
        display: flex;
        align-items: baseline;
        margin: 0;

        i {
          margin-right: 10px;

          //*{
          //    stroke: white;
          //}
        }

        &:nth-child(2) {
          margin-left: 10px;
        }
      }

    }
  }

  i {
    stroke: white;
  }

  .img-col {
    max-height: 200px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.comment_id {
  margin-right: 10px;
}

.question-page {

  .title {
    display: flex;
    position: relative;

    .actions {
      position: absolute;
      left: 10px;
      top: 10px;
      display: flex;
      width: fit-content;
      align-items: center;
      z-index: 10;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 35px;
        height: 35px;
        position: relative;


        &.like {
          margin-right: 5px;

          span {
            top: -2px;
          }

          b {
            bottom: -5px;
          }
        }

        &.dislike {
          span {
            bottom: -2px;
          }

          b {
            top: -5px;
          }
        }

        span {
          position: absolute;
          width: fit-content;
          height: fit-content;
          z-index: 10;
          display: flex;
          justify-self: center;
        }

        b {
          position: relative;
          z-index: 2;
        }
      }
    }

    .description {
      width: 100%;
      height: 300px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
        box-shadow: inset 0 0 20px red;
      }

      .shadow {
        width: 100%;
        height: 150px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      }

      h1 {
        z-index: 10;
        position: absolute;
        left: 10px;
        bottom: 10px;
        margin: 0;
      }
    }
  }

  .info {
    margin-top: 15px;

    > * {
      margin-bottom: 5px;

      &:last-of-type {
        margin: 0;
      }
    }

    * {
      //color: rgba(255,255,255,0.7);
    }

    i {
      font-size: 14px;
    }

    span {
      margin-right: 5px;
    }

    .date {
      display: flex;

      > * {
        display: flex;
      }

      .create {
        margin-right: 10px;
      }
    }

    .views {
      display: flex;
    }
  }

  //h3{
  //    color: white;
  //}

  .comments {
    width: 90%;
    // border-top: 2px solid rgba(240,240,240, 0.4);
    margin: 30px 0;
    margin-left: auto;

    .comment {
      padding: 10px 0;
      display: flex;
      border-bottom: 1px solid rgba(240, 240, 240, 0.29);
      position: relative;

      .right_comment_description {
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
        margin-bottom: 5px;

        i {
          margin-right: 5px;

          * {
            stroke: green;
          }
        }
      }

      &-reply {
        margin-left: 30px;
      }

      .action_rating {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;

        align-items: center;
        position: absolute;
        left: -35px;
        margin: auto;
        z-index: 10;
        top: 0;
        bottom: 0;

        .icon {
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          width: 22px;
          height: 22px;

          svg {
            width: 12px;
            height: 12px;
          }

          &.icon-circle {
            display: flex;
            align-items: center;
            border-radius: 30px;
            overflow: hidden;
            justify-content: center;
          }

          &.plus {
            background: #0f5132;
          }

          &.minus {
            background: #b02a37;
          }

          &.active {
            border: .1px solid;
          }

          input {
            display: none;
          }
        }

        .rating {
          margin: 5px 0;

          b {
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            z-index: 2;
          }
        }
      }

      .comment_actions {

      }

      .main {
        width: 100%;
        display: flex;
        flex-direction: column;

        .under {
          margin-top: 5px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;


          .js-load-subcomments {
            font-size: 13px;
            display: flex;
            align-items: center;
            margin-right: 10px;
            //color: white;
            cursor: pointer;

            .uk-icon {
              margin-right: 3px;
            }
          }

          .additional_info {
            display: flex;
            margin-left: auto;
            align-items: end;

            .user {
              margin-right: 30px;
              display: flex;
              align-items: end;

              .icon {
                max-width: 30px;
                max-height: 30px;
                margin-right: 10px;

                img {
                  width: 30px;
                  height: 30px;
                }
              }

              b {
                font-weight: 600;
              }
            }

            * {
              font-size: 12px;
            }
          }
        }

        p {
          margin-bottom: 10px;
          margin-top: 0;
        }
      }

      b {
        font-size: 16px;
        font-weight: 900;
      }

      p {
        font-size: 14px;
      }

      &.is-answer {


        .main {
          border-left: 4px solid rgba(11, 209, 77, 0.875);
          padding-left: 10px;
        }

        //    background: rgba(15, 236, 15, 0.43);
      }
    }
  }

  > form {
    margin-top: 40px;

    .input-reply {
      display: none;
      margin-left: 20px;

      p {
        margin-bottom: 5px;
      }

      .description {
        display: flex;
        font-size: 12px;
        width: fit-content;
        align-items: center;

        * {
          font-size: 12px;
          margin-bottom: 0;
        }

        .form-label {
          margin-right: 10px;
        }
      }
    }
  }
}

html[data-bs-theme="light"] {
  .question-page {
    .description h1 {
      -webkit-text-stroke: 1px rgba(6, 140, 223, 0.9);
      text-stroke: 1px rgba(6, 140, 223, 0.9);
    }
  }
}