.item {

  .card-body {
    padding: 12px 16px;

    .item-header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .votes{
        margin: 0;
      }
      .date{
        margin: 0;
      }
    }

    .votes{
      display: flex;
      width: fit-content;
      align-items: center;
      z-index: 10;
      margin-bottom: 10px;

      .right-answer, .popular-comment {
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        margin-left: 5px;
        align-items: center;

        i.uk-icon {
          margin: 0;
          left: 0;
          top: 0;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        width: 25px;
        height: 25px;
        position: relative;


        &.like {
          margin-right: 5px;
        }

        span {
          position: absolute;
          width: fit-content;
          height: fit-content;
          z-index: 10;
          display: flex;
          justify-self: center;
        }

        b {
          position: relative;
          z-index: 2;
        }
      }
    }

    .card-title {
      text-decoration: underline;
      font-size: 22px;
      font-weight: bold;
    }

    .category {
      .title {
        display: flex;
        align-items: center;
        font-size: 15px;

        i {
          margin-right: 5px;
        }
      }

      .tags {
        font-size: 12px;

        margin-bottom: 5px;
      }
    }
  }

  .alert {
    overflow: hidden;
  }

  .date {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    font-size: 12px;
    margin-top: 10px;

    * {
      text-decoration: none;
    }

    .views{
      display: flex;
      align-items: baseline;

      i{
        margin-right: 10px;
      }
    }

    p {
      display: flex;
      align-items: baseline;
      margin: 0;
      margin-left: 15px;

      i {
        margin-right: 10px;
      }
    }

  }
}