.right-answer {
  position: relative;
  display: flex;
  padding-top: 10px;
  font-size: 11px;

  i {
    left: -10px;
    position: relative;
  }

  .content {
    display: flex;
    align-items: center;

    .user {
      display: flex;
      align-items: center;
      margin-right: 15px;

      p {
        margin: 0;
      }
    }

    b {
      margin: 0;
      font-size: 12px;
      font-style: italic;
    }
  }
}