@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide {

  .bg {
    height: 200px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .main {
    background: #433e63;
    color: white;
    padding: 5px 10px;

    .question {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
      }

      .content {

        .user-name {
          text-overflow: ellipsis;
          font-size: 13px;
          color: #83b3fa;
          margin: 0;
          width: 220px;
          overflow: hidden;
        }

        .text {
          margin: 0;
          font-size: 16px;
          text-transform: capitalize;
        }
      }

    }

    .answer {
      display: flex;
      align-items: center;
      margin: 0;
      margin-top: 10px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .content {
        .user-name {
          margin: 0;
          margin-bottom: 5px;
          font-width: 600;
          font-size: 12px;
        }

        .comment-text {
          font-size: 14px;
        }
      }
    }
  }
}

.category_slider {
  .slick-track {
    display: flex;
  }

}