.slider-popular {

  .slide {

    .bg {
      height: 200px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .main {
      background: #433e63;
      color: white;
      padding: 5px 10px;

      .question {
        display: flex;
        align-items: center;
        font-size: 13px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          margin-right: 10px;
        }

        .content {

          .user-name {
            text-overflow: ellipsis;
            font-size: 12px;
            color: #83b3fa;
            margin: 0;
            width: 220px;
            overflow: hidden;
          }

          .text {
            margin: 0;
            text-transform: capitalize;
          }
        }

      }

      .answer {
        display: flex;
        align-items: center;
        margin: 0;
        margin-top: 10px;
        font-size: 11px;

        .content {
          display: flex;
          align-items: center;

          .user-name {
            margin: 0;
            font-weight: 600;
            margin-right: 10px;
            min-width: 40px;
            max-width: 60px;
          }

          .comment-text {
            font-size: 12px;
          }
        }
      }
    }

    * {
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  & + .banner {
    margin-top: 20px;
  }
}